<div class="bs-masthead">
  <div class="container">
    <h1>Need to share big files ?</h1>
    <p class="lead">Just drag & drop them below, we'll take care of the rest. Yes, it's free</p>
  </div>
</div>
<div class="row" ng-controller="uploadCtrl" ng-init="init('@Guid.NewGuid().ToString()')">
    <div class="col-lg-12">
        <input type="hidden" ng-model="shareId"/>
        <div id="filedrag" class="well well-large text-center" ng-show="!shared" ui-event="{ dragover: 'fileDrag($event)', dragleave:'fileDrag($event)', drop: 'fileChange($event)'}" ng-cloak>
            Drag & drop your files here or  
            <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <input type="file" id="fileSelect" name="fileSelect" multiple="multiple" ui-event="{ change: 'fileChange($event)' }" />
                <span>Select files</span>
            </span>
        </div>
        <div class="alert alert-success alert-block" ng-show="displaySuccess" ng-animate="'fade'" ng-cloak>
            <strong>Great!</strong><br /> Now just wait until the upload is finished.
            Your files will be available for 24h or until they're downloaded, at this address : 
            <a href="{{targetUrl}}">{{targetUrl}}</a>
        </div>
        <div class="alert alert-danger alert-block" ng-show="displayAlert" ng-animate="'fade'" ng-cloak>
            <strong>Oops!</strong><br /> Things didn't go as planned... Try the share button again, it should work this time !
        </div>
        <div class="row" id="upload-row">
            <div class="col-lg-5">
                <form class="form-horizontal" ng-cloak>
                    <div class="form-group {{formErrors['from']}}">
                        <label class="col-lg-2 control-label" for="inputName">From</label>
                        <div class="col-lg-8 col-sm-3 col-3">
                            <input type="text" id="inputName" class="form-control" placeholder="Your email" ng-model="from" ng-disabled="shared" ui-event="{ blur : 'validate($event)' }" />
                        </div>
                    </div>
                    <div class="form-group {{formErrors['to']}}">
                        <label class="col-lg-2 control-label" for="inputEmail">To</label>
                        <div class="col-lg-8 col-sm-3 col-3">
                            <input type="text" id="inputEmail" class="form-control" placeholder="Recipient email" ng-model="to" ng-disabled="shared" ui-event="{ blur : 'validate($event)' }" />
                        </div>
                    </div>
                    <div class="form-group {{formErrors['message']}}">
                        <label class="col-lg-2 control-label" for="inputMessage">Message</label>
                        <div class="col-lg-8 col-sm-3 col-3">
                            <textarea rows="3" id="inputMessage" class="form-control" placeholder="Your message" ng-model="message" ng-disabled="shared" ui-event="{ blur : 'validate($event)' }" ></textarea>
                        </div>
                    </div>
                    <div class="form-group {{formErrors['message']}}">
                        <div class="col-lg-offset-2 col-lg-8 col-sm-3 col-3">
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox" ng-model="notifyDownload"> Notify me when all files are downloaded
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group {{formErrors['message']}}">
                        <div class="col-lg-offset-2 col-lg-8 col-sm-3 col-3">
                            <button type="button" class="btn btn-block {{buttonClass()}}" id="shareFilesBtn" ng-click="share()"> {{buttonText()}}</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-7">
                <div style="overflow: auto; height: 250px !important">
                    <ul class="list-unstyled" ng-repeat="file in files" ng-animate="'files-animate'" ng-cloak>
                        <li>
                            <small>{{$parent.getFileDisplay(file.name)}}</small>
                            <button type="button" class="close" ng-click="$parent.removeFile(file.name)">&times;</button>
                            <div class="progress progress-striped " @*ng-show="started && !$parent.progress[file.name].uploaded"*@>
                                <div class="progress-bar {{$parent.progressClass(file.name)}}" id="{{file.hash}}" ng-style="$parent.style(file.name)"></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="upload-controls">
                    <button type="button" class="btn pull-right {{uploadStatus('style')}} " ng-show="files.length > 0" ng-click="upload()" ng-cloak>{{uploadStatus('title')}}</button>&nbsp;
                </div>
            </div>
        </div>
    </div>
</div>
