<div class="jumbotron">
    <h1>Need to share big files ?</h1>
    <p class="lead">Just drap & drop them below, we'll take care of the rest. Yes, it's free</p>
</div>
<div class="row-fluid" ng-controller="uploadCtrl">
    <div class="span12">
        <div id="filedrag" class="well well-large text-center" ui-event="{ dragover: 'fileDrag($event)', dragleave:'fileDrag($event)', drop: 'fileChange($event)'}">
            Drag & drop your files here or  
            <span class="btn btn-success fileinput-button">
                <i class="icon-plus icon-white"></i>
                <input type="file" id="fileSelect" name="fileSelect" multiple="multiple" ui-event="{ change: 'fileChange($event)' }" />
                <span>Select files</span>
            </span>
        </div>
    
        <div class="row-fluid" id="upload-row">
            <div class="span5">
                <form class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">From</label>
                        <div class="controls">
                            <input type="text" id="inputEmail" placeholder="Your email">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">To</label>
                        <div class="controls">
                            <input type="text" id="inputEmail" placeholder="Recipient email">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Message</label>
                        <div class="controls">
                            <textarea rows="3" placeholder="Your message"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-primary btn-large" id="shareFilesBtn">Share my files !</button>
                        </div>
                    </div>
                </form>
                
            </div>
            <div class="span7">
                <div style="overflow: auto; height: 250px !important">
                    <ul class="unstyled" ng-repeat="file in files" ng-cloak>
                        <li>
                            <small>{{$parent.getFileDisplay(file.name)}}</small>
                            <a class="close" href="#" class="pull-right" ng-click="$parent.removeFile(file.name)">&times;</a>
                            <div class="progress progress-striped {{$parent.class(file.name)}}" ng-show="started && !$parent.progress[file.name].uploaded">
                                <div class="bar" id="{{file.hash}}" ng-style="$parent.style(file.name)"></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="upload-controls">
                    <button type="button" class="btn pull-left {{uploadStatus('style')}} " ng-show="files.length > 0" ng-click="upload()" ng-cloak>{{uploadStatus('title')}}</button>&nbsp;
                </div>
            </div>
        </div>
    </div>
</div>
