<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Drop It! The files you shared have been downloaded</title>
</head>
    <body>
        <div class="container-narrow">
            <div class="masthead">
                <h3 class="muted">Drop it !</h3>
            </div>
            <hr/>
            <div class="row">
                <div class="col-lg-12">
                    <h1>@Model.Name has successfully downloaded all the files that you shared with him/her.</h1>
                    <p class="lead">They have been permanently removed from our servers.</p>
                </div>
            </div>
            <hr/>
        </div>
    </body>
</html>
