<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://drop-it.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-db3-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>drop-it</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$drop-it</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DropItDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:be457y1us1.database.windows.net,1433;Initial Catalog=dropit;Integrated Security=False;User ID=peytoulet@be457y1us1;Password=SohoR0cks!;Connect Timeout=30;Encrypt=True" Name="Server=tcp:be457y1us1.database.windows.net,1433;Database=dropit;User ID=peytoulet@be457y1us1;Password=SohoR0cks!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DropIt.Business.Data.DropItDbContext, DropIt.Business" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Storage" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=mondoulet;AccountKey=qUNB/toj/txOBNUqFCze2ut6gv0TeRPTBjbuphQvMxCH9okhnjzmuR0fqpHjuuQwJqQMmvjYsHEjs6FCFjEakw==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Storage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=mondoulet;AccountKey=qUNB/toj/txOBNUqFCze2ut6gv0TeRPTBjbuphQvMxCH9okhnjzmuR0fqpHjuuQwJqQMmvjYsHEjs6FCFjEakw==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DropItDbContext-Web.config Connection String">
      <ParameterValue>Server=tcp:be457y1us1.database.windows.net,1433;Database=dropit;User ID=peytoulet@be457y1us1;Password=SohoR0cks!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Storage-Web.config Connection String" />
  </ItemGroup>
</Project>